.faqsThirdSection {
  padding-top: 25px;
  padding-bottom: 35px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20vw;
  padding-right: 0vw;
  z-index: 10;
}

.faqsThirdSection > :first-child {
  align-self: flex-start;
}

.faqsThirdSection > :last-child {
  align-self: flex-end;
}

.faqsThirdSectioncontainer {
  border: 1px solid #4a6eb0;
  border-radius: 7px;
  background-color: white;
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.faqsThirdSectionaccordion {
  .faqsThirdSectionaccordion-item {
    border-bottom: 1px solid #e5e5e5;

    .faqsThirdSectionacordionButton[aria-expanded="true"] {
      border-bottom: 1px solid rgb(129, 25, 25);
    }
  }

  .faqsThirdSectionacordionButton {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;

    &:hover,
    &:focus {
      cursor: pointer;
      color: #04347d;

      &::after {
        cursor: pointer;
        color: #04347d;
        border: 1px solid #04347d;
      }
    }

    .faqsThirdSectionaccordion-title {
      padding: 1em 1.5em 1em 0;
    }

    .faqsThirdSectionicon {
      display: inline-block;
      position: absolute;
      top: 18px;
      right: 0;
      width: 22px;
      height: 22px;
      border: 1px solid;
      border-radius: 22px;

      &::before {
        display: block;
        position: absolute;
        content: "";
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
      }

      &::after {
        display: block;
        position: absolute;
        content: "";
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
      }
    }
  }

  .faqsThirdSectionacordionButton[aria-expanded="true"] {
    color: #04347d;

    .icon {
      &::after {
        width: 0;
      }
    }

    + .faqsThirdSectionaccordion-content {
      opacity: 1;
      max-height: 90em;
      transition: all 200ms linear;
      will-change: opacity, max-height;
    }
  }

  .faqsThirdSectionaccordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;

    p {
      font-size: 1rem;
      font-weight: 300;
      margin: 2em 0;
    }
  }
}

.faqsThirdSectionacordionButton:first-child {
  padding-right: 30px;
}

@media only screen and (max-width: 1000px) {
  .faqsThirdSection {
    width: 100%;
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 900px) {
  .faqsThirdSection {
    width: 100%;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    padding-left: 0;
    padding-right: 0;
  }
  .faqsThirdSectioncontainer {
    padding: 1rem;
    width: 90%;
  }
}

@media only screen and (max-width: 555px) {
  .faqsFirstSection {
    padding-left: 10px;
    padding-right: 10px;
  }
  .faqsFirstSectionTitleContainer p {
    font-size: 35px;
  }

  .faqsFirstSectionImgContainer {
    width: 180px;
  }

  .faqsFirstSectionImgContainer img {
    width: 100%;
    height: 253px;
  }

  #faqsSecondSection {
    padding-left: 10px;
  }
  #faqsSecondSection ol {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }

  .faqsThirdSectioncontainer {
    padding: 1rem;
    width: 90%;
  }
}

/***FOURTH SECTION ****/
.fourthSectionContainer {
  padding-top: 50px;
  min-height: 100vh;
  height: auto;
}
.sectionFourthPros {
  height: auto;
  padding-bottom: 50px;
  padding-top: 70px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionFourthPros h2 {
  width: 100%;
  text-align: center;
  color: #a3bfec;
}
.sectionFourthProsSeparator {
  margin-top: 8px;
  height: 4px;
  width: 80%;
  background-color: rgba(167, 25, 20, 0.5);
}

.sectionFourthSlider {
  background-image: linear-gradient(to top right, #35373b, #bedce2);
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: 520px;
  overflow: hidden;
}

.item {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  transition: 0.5s;
  left: calc(50% - 160px);
  top: 0;
}

.item h3 {
  margin-top: -5px;
  height: 60px;
  font-size: 39px;
  text-align: center;
}

.item p {
  padding-top: 30px;
  font-size: 22px;
}

#next {
  position: absolute;
  right: 20%;
  top: 40%;
}

#prev {
  position: absolute;
  left: 20%;
  top: 40%;
}

#prev,
#next {
  background: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  opacity: 0.55;
  transition: opacity 0.5s;
}

#prev img,
#next img {
  width: 80px;
}

#prev:hover,
#next:hover {
  opacity: 1;
}

@media only screen and (max-width: 1200px) {
  .sectionFourthSlider {
    min-height: 600px;
  }

  .slider {
    margin-top: 95px;
    min-height: 600px;
    width: 100%;
  }

  #next {
    right: 50px;
    margin-top: 160px;
  }

  #prev {
    left: 50px;
    margin-top: 160px;
  }

  #prev,
  #next {
    font-size: 50px;
  }

  .item {
    height: 400px;
    width: 250px;
    padding: 15px;
    transition: 0.5s;
    left: calc(50% - 122.5px);
  }

  .item h3 {
    font-size: 30px;
  }

  .item p {
    font-size: 23px;
  }
}

@media only screen and (min-width: 854px) {
  #next {
    margin-top: 40px;
  }

  #prev {
    margin-top: 40px;
  }
}

/*INICIO FIFTH SECION*/
.fifthSectionContainer {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h2 {
    top: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    margin-bottom: 30px;
  }
}

.fifthSectionContainer .imagesContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 50%;
}

.fifthSectionContainer .imagesContainer img {
  box-shadow: 0 0 10px rgb(95, 94, 94);
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100px;
  height: auto;
}

@media only screen and (min-width: 1200px) {
  .fifthSectionContainer {
    h2 {
      margin-top: -100px;
    }
  }
}

@media only screen and (max-width: 629px) {
  .fifthSectionContainer .imagesContainer {
    width: 80%;
  }
}

@media only screen and (max-width: 394px) {
  .fifthSectionContainer .imagesContainer {
    width: 100%;
  }
}

/*FOOTER* */
.footerContainer {
  min-height: 100vh;
  height: auto;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  p {
    color: #c5c5c5;
    position: absolute;
    bottom: 20px;
    width: 100%;
    min-height: 20px;
    text-align: center;
  }
}

.footerContact {
  padding-bottom: 100px;
  width: 80%;
  min-height: 400px;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  h3 {
    color: white;
  }
  aside {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100%;
    a {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      color: white;
      font-style: none;
      text-decoration: none;
      text-align: left;
      height: 40px;
      margin-top: 20px;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    min-width: 500px;
    min-height: 300px;
    h4 {
      color: white;
      font-size: 37px;
    }
    label {
      color: #c5c5c5;
      margin-bottom: -10px;
    }
    input,
    textarea {
      width: 100%;
      border-radius: 5px;
      padding: 8px;
    }
    button {
      width: 80px;
      height: 35px;
      border-radius: 1000px;
    }
    button:hover {
      cursor: pointer;
    }
  }
}

.socialNetwork {
  width: 100%;
  svg {
    padding-right: 10px;
    width: 40px;
    height: 40px;
  }
}
.facebook svg {
  width: 50px;
  height: 50px;
  margin-left: -5px;
}

@media only screen and (max-width: 1115px) {
  .footerContact {
    width: 100%;
  }
}

@media only screen and (max-width: 819px) {
  .footerContact {
    flex-direction: column;
    aside {
      margin-top: 80px;
    }
  }
}

@media only screen and (max-width: 585px) {
  .footerContact {
    form {
      min-width: 100px;
      width: 90%;
      label {
        margin-bottom: 0px;
      }
    }
  }
}
